{
  "openapi": "3.0.3",
  "info": {
    "title": "CortIQ Public REST API",
    "description": "Public REST API for accessing CortIQ analytics data. First analytics platform with dedicated AI agent tracking!",
    "version": "1.0.0",
    "contact": {
      "name": "CortIQ Support",
      "url": "https://cortiq.se",
      "email": "support@cortiq.se"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://cortiq.se/terms"
    }
  },
  "servers": [
    {
      "url": "https://cortiq.se/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sites",
      "description": "Manage and list sites"
    },
    {
      "name": "Visits",
      "description": "Access visit and session data"
    },
    {
      "name": "Pages",
      "description": "Page view analytics"
    },
    {
      "name": "Referrers",
      "description": "Traffic source data"
    },
    {
      "name": "Events",
      "description": "Custom event tracking"
    },
    {
      "name": "Agents",
      "description": "AI agent traffic analytics (CortIQ Unique!)"
    },
    {
      "name": "Conversions",
      "description": "Conversion tracking"
    },
    {
      "name": "Heatmaps",
      "description": "Heatmap data"
    }
  ],
  "paths": {
    "/sites": {
      "get": {
        "tags": ["Sites"],
        "summary": "List all sites",
        "description": "Retrieve a list of all sites associated with your account",
        "operationId": "getSites",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/sites/{siteId}/visits": {
      "get": {
        "tags": ["Visits"],
        "summary": "Get visits data",
        "description": "Retrieve visit/session data for a specific site",
        "operationId": "getVisits",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Visit"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/sites/{siteId}/pages": {
      "get": {
        "tags": ["Pages"],
        "summary": "Get page views",
        "description": "Retrieve page view data for a specific site",
        "operationId": "getPages",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PageView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{siteId}/referrers": {
      "get": {
        "tags": ["Referrers"],
        "summary": "Get traffic sources",
        "description": "Retrieve referrer/traffic source data",
        "operationId": "getReferrers",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Referrer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{siteId}/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Get events",
        "description": "Retrieve custom event data",
        "operationId": "getEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{siteId}/agents": {
      "get": {
        "tags": ["Agents"],
        "summary": "Get AI agent traffic",
        "description": "Retrieve AI agent traffic data - ChatGPT Browser, Perplexity Comet, Claude Browser, etc. **This is unique to CortIQ!**",
        "operationId": "getAgents",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentSession"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{siteId}/conversions": {
      "get": {
        "tags": ["Conversions"],
        "summary": "Get conversions",
        "description": "Retrieve conversion event data",
        "operationId": "getConversions",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conversion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{siteId}/heatmaps": {
      "get": {
        "tags": ["Heatmaps"],
        "summary": "Get heatmap data",
        "description": "Retrieve click heatmap data",
        "operationId": "getHeatmaps",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "name": "page_url",
            "in": "query",
            "description": "Filter by specific page URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HeatmapClick"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Enter your API key in the format: `ck_live_your_api_key_here`"
      }
    },
    "parameters": {
      "siteId": {
        "name": "siteId",
        "in": "path",
        "required": true,
        "description": "Site UUID",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "dateFrom": {
        "name": "date_from",
        "in": "query",
        "description": "Start date (ISO 8601 format). Defaults to 30 days ago.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2024-01-01T00:00:00Z"
        }
      },
      "dateTo": {
        "name": "date_to",
        "in": "query",
        "description": "End date (ISO 8601 format). Defaults to now.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2024-01-31T23:59:59Z"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results to return",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 10000,
          "default": 1000
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Number of results to skip (for pagination)",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "format": {
        "name": "format",
        "in": "query",
        "description": "Response format",
        "schema": {
          "type": "string",
          "enum": ["json", "csv"],
          "default": "json"
        }
      }
    },
    "schemas": {
      "Site": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "domain": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "Visit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "site_id": {
            "type": "string",
            "format": "uuid"
          },
          "visitor_hash": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "duration_seconds": {
            "type": "integer"
          },
          "page_views": {
            "type": "integer"
          },
          "device_type": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "referrer_url": {
            "type": "string"
          },
          "referrer_domain": {
            "type": "string"
          }
        }
      },
      "PageView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "site_id": {
            "type": "string",
            "format": "uuid"
          },
          "session_id": {
            "type": "string",
            "format": "uuid"
          },
          "page_url": {
            "type": "string"
          },
          "page_title": {
            "type": "string"
          },
          "viewed_at": {
            "type": "string",
            "format": "date-time"
          },
          "time_on_page_seconds": {
            "type": "integer"
          }
        }
      },
      "Referrer": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "visits": {
            "type": "integer"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "site_id": {
            "type": "string",
            "format": "uuid"
          },
          "event_name": {
            "type": "string"
          },
          "event_category": {
            "type": "string"
          },
          "event_data": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentSession": {
        "type": "object",
        "description": "AI agent session data - unique to CortIQ!",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "site_id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_type": {
            "type": "string",
            "enum": ["chatgpt_browser", "perplexity_comet", "claude_browser", "other"],
            "description": "Type of AI agent"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "page_views": {
            "type": "integer"
          },
          "query_intent": {
            "type": "string"
          }
        }
      },
      "Conversion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "site_id": {
            "type": "string",
            "format": "uuid"
          },
          "conversion_name": {
            "type": "string"
          },
          "conversion_value": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HeatmapClick": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "site_id": {
            "type": "string",
            "format": "uuid"
          },
          "page_url": {
            "type": "string"
          },
          "x_position": {
            "type": "integer"
          },
          "y_position": {
            "type": "integer"
          },
          "viewport_width": {
            "type": "integer"
          },
          "viewport_height": {
            "type": "integer"
          },
          "device_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Invalid or missing API key"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Site not found or access denied"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Rate limit exceeded",
              "retry_after": 3600
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Rate limit (requests per hour)"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until rate limit resets"
          }
        }
      }
    }
  }
}
